In [1]:
# import modules
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt

In [9]:
#################################################
# import and accident data 
#################################################

# import original accident file
accident_file = "../US_Accidents_Dec19.csv"
accident_df = pd.read_csv(accident_file)
accident_df.head()

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,MapQuest,201.0,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,MapQuest,201.0,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,...,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,MapQuest,201.0,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,...,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,MapQuest,201.0,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,...,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,MapQuest,201.0,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,...,False,False,False,False,True,False,Day,Day,Day,Day

In [11]:
# filter down to just CA crashes
ca_df = accident_df.loc[accident_df['State'] == "CA"]
# ca_df.head()

In [13]:
# filter to include just the crashes between 2016 and 2018
ca_df['Date']= pd.to_datetime(ca_df['Start_Time']) 
mask = (ca_df['Date'] > '2016-01-01 00:00:01') & (ca_df['Date'] <= '2018-12-31 23:59:01')
ca_filtered = ca_df.loc[mask]

C:\Users\Carl\.conda\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        ID        County
728  A-729        Solano
729  A-730       Alameda
730  A-731  Contra Costa
731  A-732   Santa Clara
732  A-733   Santa Clara
..     ...           ...
823  A-824    Sacramento
824  A-825       Alameda
825  A-826        Nevada
826  A-827          Lake
827  A-828       Alameda

[100 rows x 2 columns]

In [17]:
# Create a filtered dataframe from specific columns
ca_cols = ["County"]
ca_filtered= ca_filtered[ca_cols].copy()
ca_filtered["Crash_count"] = 1
ca_sum = ca_filtered.groupby(['County']).count().reset_index()
ca_sum
ca_sum.to_csv("resources/ca_accidents.csv")

In [ ]:
#################################################
# import and clean income data from census bureau data finder
#################################################
income_file = "resources/household_income.csv"
income_df = pd.read_csv(income_file)
income_cols = ['Geographic Area Name', 'Estimate!!Households!!Median income (dollars)' ]
income_df= income_df[income_cols].copy()
income_df['New_name'] = income_df["Geographic Area Name"].str[:-19]
income_df["id"] = income_df.index
income_df = income_df.rename(columns={"Geographic Area Name": "full_name",
                                     "Estimate!!Households!!Median income (dollars)": "med_HHI",
                                     "New_name": "county"})
income_df.to_csv("resources/cleaned_income.csv")
income_df.head()