In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
year = "Resources/crimes_1985-2018.csv"
year_df = pd.read_csv(year)
year_df.head()

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (21,22,23,24,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Year,County,NCICCode,Violent_sum,Homicide_sum,ForRape_sum,Robbery_sum,AggAssault_sum,Property_sum,Burglary_sum,...,MVLARnao_sum,MVPLARnao_sum,BILARnao_sum,FBLARnao_sum,COMLARnao_sum,AOLARnao_sum,LT400nao_sum,LT200400nao_sum,LT50200nao_sum,LT50nao_sum
0,1985,Alameda County,Alameda Co. Sheriff's Department,427,3,27,166,231,3964,1483,...,930,109,205,44,11,475,753,437,440,498
1,1985,Alameda County,Alameda,405,7,15,220,163,4486,989,...,538,673,516,183,53,559,540,622,916,1159
2,1985,Alameda County,Albany,101,1,4,58,38,634,161,...,147,62,39,46,17,37,84,68,128,138
3,1985,Alameda County,Berkeley,1164,11,43,660,450,12035,2930,...,3153,508,611,1877,18,496,533,636,2793,4274
4,1985,Alameda County,Emeryville,146,0,5,82,59,971,205,...,207,153,16,85,24,169,217,122,161,164

In [3]:
#VehicleTheft_sum = Number of Motor Vehicle Thefts
#MVTact_sum = Automobiles Theft â€“ Autos - Actual


columns2 = ["County", "Year", "VehicleTheft_sum", "MVTact_sum"]
new_year = year_df[columns2].copy()

new_year.head()

           County  Year  VehicleTheft_sum  MVTact_sum
0  Alameda County  1985               353         233
1  Alameda County  1985               260         187
2  Alameda County  1985                55          42
3  Alameda County  1985               869         559
4  Alameda County  1985               102          85

In [5]:
#filter for only years 2016-2018

mask = (new_year['Year'] >= 2016) & (new_year['Year'] <= 2018)
new_year = new_year.loc[mask]
new_year.head()

               County  Year  VehicleTheft_sum  MVTact_sum
22759  Alameda County  2016               601         425
22760  Alameda County  2016               443         317
22761  Alameda County  2016                45          39
22762  Alameda County  2016               650         578
22763  Alameda County  2016               146         123

In [6]:
cleaned_ca = new_year.groupby(['Year','County']).sum().reset_index()
cleaned_ca

     Year            County  VehicleTheft_sum  MVTact_sum
0    2016    Alameda County             13922       12495
1    2016     Alpine County                 1           1
2    2016     Amador County                61          42
3    2016      Butte County              1021         713
4    2016  Calaveras County                97          46
..    ...               ...               ...         ...
169  2018     Tulare County              2203        1330
170  2018   Tuolumne County               108          50
171  2018    Ventura County              1650        1185
172  2018       Yolo County               608         464
173  2018       Yuba County               431         302

[174 rows x 4 columns]

In [7]:
#Rename County names to drop County to match Carl's dataset for merge

cleaned_ca['Updated_County'] = cleaned_ca["County"].str[:-7]
cleaned_ca

     Year            County  VehicleTheft_sum  MVTact_sum Updated_County
0    2016    Alameda County             13922       12495        Alameda
1    2016     Alpine County                 1           1         Alpine
2    2016     Amador County                61          42         Amador
3    2016      Butte County              1021         713          Butte
4    2016  Calaveras County                97          46      Calaveras
..    ...               ...               ...         ...            ...
169  2018     Tulare County              2203        1330         Tulare
170  2018   Tuolumne County               108          50       Tuolumne
171  2018    Ventura County              1650        1185        Ventura
172  2018       Yolo County               608         464           Yolo
173  2018       Yuba County               431         302           Yuba

[174 rows x 5 columns]